body, html {
  height: 100%;
  margin: 0;
  font-family: helvetica;
}

.Lobby {
  height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}


main {
    flex: 1;
}
